body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #454444;
  font-family: Arial, sans-serif;
}

.App {
  background-color: #747171;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 500px;
  margin: 1rem;
  text-align: center;
}

#upperChart {
  font-weight: bold;
}

p {
  background-color: #b3aeae;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

p:hover {
  background-color: #ddd;
}

#lowerChart {
  background-color: #eee;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#lowerChart h2 {
  color: #333;
  margin-bottom: 1rem;
}

#lowerChart ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lowerChart li {
  margin: 0.5rem 0;
  color: #555;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}
